body {
    background-color: darkgrey;
    color: black;
    border-color: black
}

h1 {
    color: black;
    margin-left: 40px;
}

th {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

td {
    padding-left: 10px;
}